header {
    height: 20vh;
    position: relative;
    background-color: rgb(200, 200, 200);
    border-bottom: 2px solid #212529;
}
header > img {
    width: 180px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: -50%;
}
